*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}

/* header start */
header{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5.7%;
  margin-left: 8%;
  padding: 30px 50px;
  background-color: #161616;
  width: 85%;
  border-radius: 1.25rem;
}
header .header-text{
  margin-top: 12%;
  margin-left: 8%;
}
header .header-text h1{
  color: #fff;
  font-size: 4.25rem;
  line-height: 1.2;
  margin-bottom: 1.0625rem;
}
header .header-text p{
  color: #fff;
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 2rem;
}
header .header-text .btn{
  background-color: #DD0000;
  border: none;
  padding: 0.9375rem 2rem;
  outline: none;
  color: #fff;
  border-radius: 0.3125rem;
}
header .header-img img{
  width: 90%;
  top: 6.2%;
  right: 6%;
  position: relative;
  left: 9%;
}



/* end */